# Entornos virtuales
venv/
.env

# Archivos Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# Archivos de modelos
*.pkl
*.joblib

# Archivos temporales o del sistema
.DS_Store
Thumbs.db

# Archivos de datos intermedios
*.csv

# Archivos de log
*.log
